{
  "sourceMaps": "both",
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": []
    },
    "production": {
      "sourceMaps": false,
      "plugins": [],
      "ignore": [
        "**/__tests__/**"
      ]
    }
  }
}