{
  "parser": "babel-eslint",
  "globals": {
    "Promise": true,
    "Symbol": true,
    "Map": true,
    "Set": true,
    "JSON": true
  },
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": [
    "jest"
  ]
}